#context-menu {

    display: none;
    position: absolute;
    padding: 0.3em;
    z-index: 9999;
    background-color: #FAFAFA;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    filter: drop-shadow(0.3em 0.3em 0.3em #00000030);
    min-width: 10em;
    width: max-content;
    border-radius: 0.3em;
}

#context-menu > div {

    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0.3em 1em 0.3em 1em;
    margin: 0.1em 0.15em;
    transition: all ease-out 0.1s;
    cursor: pointer;
    color: black;
    border-radius: 0.2em;

}

#context-menu > div:hover {

    background-color: #FFFFFF;

}

#context-menu > div > div {

    display: none;

}

#root {
    position: absolute;
    /*z-index: -9999;*/
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    background-image:
            linear-gradient(rgba(128, 128, 128, 0.1) 1px, transparent 1px),
            linear-gradient(90deg, rgb(128, 128, 128, 0.1) 1px, transparent 1px),
            linear-gradient(90deg, rgba(128, 128, 128, 0.1) 1px, transparent 1px),
            linear-gradient(rgba(128, 128, 128, 0.1) 1px, transparent 1px);
    background-size: 20px 20px, 100px 100px;
    /*background-size: 20px 20px, 120px 120px;*/

}

.block {

    z-index: 10;
    position: absolute;
    cursor: move;
    transition: transform ease-out 0.1s;

}
