.notification {
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    border-radius: 5px;
    color: #fff;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.notification.success {
    background-color: #80ff80;
}

.notification.error {
    background-color: #ff8080;
}

.notification .close {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}