@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    transition: 0.1s;
    overflow: hidden;
}

*::selection {
    background: transparent !important;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    position: relative;
}

input,
button {
    font-size: 16px;
    border: unset;
    box-shadow: unset;
    background: unset;
    border-radius: unset;
    cursor: pointer;
}

img {
    height: 1.5em;
    filter: invert(var(--image-white));
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10000;
    background-color: var(--light-background-color);
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
}

#header__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-self: start;
}

#header__profile > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 1em;
    border-radius: 50%;
}
#header__profile > a > img {
    height: 2em;
    width: 2em;
}

#header__head {
    justify-self: center;
}

#header__head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

#header__head > img {
    margin-right: 1em;
    height: 2em;
    filter: invert(0);
}

#main {
    position: relative;
}

#connectform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0;
}

input:focus {
    outline: none;
}

#main > #form {
    background-color: var(--light-background-color);
    border-radius: 0.5em;
    width: 40%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0.2em black;
    overflow: hidden;
}

#main > #form > #button {
    width: max-content;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid var(--border-color);
    cursor: pointer;
    font-weight: bold;
}

#main > #form > #button,
#connectform > #form > #button,
#parameters > #logout,
#nicknameedit > form > input,
#nicknameedit > form > #cancel,
#emailedit > form > #cancel,
#emailedit > form > input,
#passwordedit > form > input,
#passwordedit > form > #cancel {
    background-color: var(--font-button-color);
    color: black;
}

#main > #form > #button:hover,
#connectform > #form > #button:hover,
#parameters > #logout:hover,
#nicknameedit > form > input:hover,
#nicknameedit > form > #cancel:hover,
#emailedit > form > #cancel:hover,
#emailedit > form > input:hover,
#passwordedit > form > input:hover,
#passwordedit > form > #cancel:hover {
    background-color: var(--light-font-button-color);
}

#main > #form > #button:active,
#connectform > #form > #button:active,
#parameters > #logout:active,
#nicknameedit > form > input:active,
#nicknameedit > form > #cancel:active,
#emailedit > form > #cancel:active,
#emailedit > form > input:active,
#passwordedit > form > input:active,
#passwordedit > form > #cancel:active {
    background-color: var(--dark-font-button-color);
}


#connectform > #form > div > input,
#connectform > #form > #button {
    padding: 1em;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#connectform > #form {
    background-color: var(--light-background-color);
    border-radius: 0.5em;
    width: 40%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0.2em black;
    overflow: hidden;
}

#connectform > #form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#connectform > #form > div > img {
    padding: 0 0 0 1em;
}

#connectform > #form > #button {
    border-top: 2px solid var(--border-color);
    cursor: pointer;
    font-weight: bold;
}

#connectform > #form > #password,
#connectform > #form > #email {
    border-top: 2px solid var(--border-color);
}

#logout {
    padding: 1em;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

}

#header__profile > p {
    margin-right: 1em;
}

#header__profile > a > #image {
    height: 1.25em;
    filter: invert(var(--image-white));
}

#main > p, #connectform > p {
    color: red;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background-color);
    border-radius: 0.5em;
    width: 40%;
    box-shadow: 0 0 0.2em black;
    margin-bottom: 1em;
}

#leave > a > img:hover {
    transform: scale(1.1);
}

#leave > a > img:active {
    transform: scale(0.9);
}

#parameters {
    background-color: var(--light-background-color);
    border-radius: 0.5em;
    width: 40%;
    box-shadow: 0 0 0.2em black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#parameters > #pseudo,
#parameters > #password,
#parameters > #email,
#parameters > #logout {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#parameters > #pseudo > p,
#parameters > #email > p,
#parameters > #password > p {
    background-color: var(--background-color);
    border-radius: 0.25em;
    padding: 0.125em 0.5em;
}

#parameters > #password,
#parameters > #email,
#parameters > #logout {
    border-top: 2px solid var(--border-color);
    position: relative;
}

#parameters > #pseudo > img:hover,
#parameters > #email > img:hover,
#parameters > #password > img:hover {
    transform: scale(1.1);
}

#parameters > #pseudo > img:active,
#parameters > #email > img:active,
#parameters > #password > img:active {
    transform: scale(0.9);
}

#parameters > #logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

#parameters > #logout {
    text-decoration: none;
    font-weight: bold;
}

#nicknameedit.hide,
#emailedit.hide,
#passwordedit.hide {
    display: none;
}

#nicknameedit.show, 
#emailedit.show, 
#passwordedit.show {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #000000AA;
    z-index: 500;
}

#nicknameedit.show > form, 
#emailedit.show > form, 
#passwordedit.show > form {
    animation: spawnmenu 0.15s forwards cubic-bezier(0,0,.66,1.59);
}


#nicknameedit > form,
#emailedit > form,
#passwordedit > form {
    background-color: var(--light-background-color);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    width: 40%;
    box-shadow: 0 0 0.2em black;
    flex-direction: column;
    overflow: hidden;
}

#nicknameedit > form > div > input,
#emailedit > form > div > input,
#passwordedit > form > div > input {
    width: 100%;
    padding-left: 1em;
}

#nicknameedit > form > input,
#nicknameedit > form > div,
#emailedit > form > input,
#emailedit > form > div,
#passwordedit > form > input,
#passwordedit > form > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 100%;
}

#nicknameedit > form > div > img,
#emailedit > form > div > img,
#passwordedit > form > div > img {
    padding-left: 1em;
}

#nicknameedit > form > #newnickname,
#nicknameedit > form > input,
#nicknameedit > form > #cancel,
#emailedit > form > #newemail,
#emailedit > form > input,
#emailedit > form > #cancel,
#passwordedit > form > #newpassword,
#passwordedit > form > #cancel,
#passwordedit > form > input {
    border-top: 2px solid var(--border-color);
    cursor: pointer;
    font-weight: bold;

}

#register {
    width: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register > a {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

#main__card {
    min-width: 28em;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-radius: 0.4em;
}

#main__card__header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FAEAB1;
    padding: 1em;
}

#main__card__header__title {
    margin: 0 1em 0 0;
    min-width: max-content;
    /*width: 100%;*/
    font-size: 20px;
}

#main__card__header__title > input {
    font-size: 1em;
}

#main__card__header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: max-content;
    background-color: #FAEAB1;
    margin-left: 1em;
}

#main__card__header > div > button,
#main__card__content__tasks__task > div > button,
#main__card__content__interactive__add_task_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    overflow: hidden;
    background: #FFFFFF80;
    margin: 0 0.25em;

}

#main__card__content__tasks__task > div > button,
#main__card__content__interactive__add_task_button {
    background-color: #EEEEEE;
}

#main__card__header > div > button > img,
#main__card__content__tasks__task > div > button > img,
#main__card__content__interactive__add_task_button > img {
    height: 100%;
    width: 100%;
    padding: 0.5em;
}

#main__card__content {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 1em;
    background-color: #FFFFFFAA;
}

#main__card__content__tasks {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

#main__card__content__tasks__task > p {
    height: 100%;
    padding-left: 0.5em;
    max-width: 30em;
}

#main__card__content__tasks__task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 0.4em;
    margin: 0.2em;
    padding: 0.2em;
}

#main__card__content__tasks__task:hover {
    background-color: #FAFAFA;
}

#main__card__content__tasks__task > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#main__card__content__tasks__task__checkbox {
    appearance: none;
    transition: 0s;
    background-color: #EEEEEE;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: 0.25em;
}

#main__card__content__tasks__task__checkbox:checked {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
    background-image: url("../images/check.png");
}

#main__card__content__interactive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#main__card__content__interactive__input {
    background-color: #FAFAFA;
    border-radius: 0.4em;
    padding: 0.4em 0.8em;
}


@keyframes spawntask {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0);
    }
}

@keyframes spawnmenu {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}
